
.input_1{
    border-radius: 50px 50px 50px 50px;
    display: inline-block;
    background-color: black;
    width:200px;
    line-height:1.6;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin: 10px; 
}
.input_1:hover{
    background-color: #03e9f4;
    color: black;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transform,#005)
}
.input_1:nth-child(3n){
    filter: hue-rotate(225deg);
}
.input_1:nth-child(3n+1){
    filter: hue-rotate(90deg);
}
.input_1:nth-last-child(2){
    filter: hue-rotate(0deg);
}
.input_1:nth-last-child(1){
    filter: hue-rotate(225deg);
}

body{
    width: 800px;
    margin:0 auto;
    float:center;
    background-color: black;
}
.inputs{
    
    text-align: center;
    transform: translateY(10%); 
    flex-wrap:wrap ;

}
.output{
    transform: translateY(20%);
    width: 800px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.outWord{
    top:20px;
    width: 400px;
    height:30px;
    transform: translatex(20%);
    background: #f1f1f1;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    position: absolute;
}
.clear{
    transform: translatex(65%);
}