
.input_1{
    width:100px;
    box-shadow: 0px 5px 10px -5px #746f6fd8;
    border-radius: 50px 50px 50px 50px;
}
body{
    width: 400px;
    margin:0 auto;
    float:center;
}
.inputs{
    text-align: center;
    transform: translateY(20%); 
    flex-wrap:wrap ;
    margin:10px;
}
.output{
    text-align: left;
    transform: translatex(7%);
    width: 400px;
    margin:10px;
}
.outWord{
    width: 200px;
    background: #f1f1f1;
    text-align: left;
    display: inline-block;
}
.clear{
    display: inline-block;

}